In [1]:
import sklearn.tree

In [2]:
import pandas

In [12]:
df = pandas.read_csv('../phonecase.csv')
df

    Age  Income  Colour
0    12       0     Red
1    14      10     Red
2    15       0     Red
3    17     500  Yellow
4    18   10000     Red
5    19   30000  Yellow
6    21       0  Yellow
7    21   20000  Yellow
8    23   30000  Yellow
9    25   40000    Pink
10   27  100000     Red
11   30   80000    Pink
12   40  150000     Red
13   41   60000    Pink
14   60  100000    Pink
15   62   40000  Yellow
16   63   60000    Pink
17   65   30000    Pink

In [14]:
dtc=sklearn.tree.DecisionTreeClassifier(criterion='gini', max_depth=4)

In [30]:
dtc.fit(df[['Age','Income']],df[['Colour']])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [31]:
Predict = dtc.predict(df[['Age','Income']])

In [32]:
import IPython.display
import pydot

ImportError: No module named 'pydot'

In [33]:
dtc.feature_importances_

array([0.82962963, 0.17037037])