# Lab 7b - Regularisation

### Regularised regression with Ridge & LASSO

- FUNCTIONS: Ridge, RidgeCV, Lasso, LassoCV
- DOCUMENTATION: http://scikit-learn.org/stable/modules/linear_model.html
- DATA: 
  - Dataset 'Crime' (n=319 non-null, p=122, type=regression)
    - This data set contains data on violent crimes within a community.
    - Data Dictionary: http://archive.ics.uci.edu/ml/datasets/Communities+and+Crime
  - Dataset 'boston' 
    - This data set contains Boston house prices and candidate predictors.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
# read data, remove categorical features, remove rows with missing values
crime = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data', 
                    header=None, na_values=['?'])

In [7]:
crime.isnull

<bound method DataFrame.isnull of       0      1        2                       3    4     5     6     7    \
0       8    NaN      NaN            Lakewoodcity    1  0.19  0.33  0.02
1      53    NaN      NaN             Tukwilacity    1  0.00  0.16  0.12
2      24    NaN      NaN            Aberdeentown    1  0.00  0.42  0.49
3      34    5.0  81440.0     Willingborotownship    1  0.04  0.77  1.00
4      42   95.0   6096.0       Bethlehemtownship    1  0.01  0.55  0.02
5       6    NaN      NaN       SouthPasadenacity    1  0.02  0.28  0.06
6      44    7.0  41500.0             Lincolntown    1  0.01  0.39  0.00
7       6    NaN      NaN               Selmacity    1  0.01  0.74  0.03
8      21    NaN      NaN           Hendersoncity    1  0.03  0.34  0.20
9      29    NaN      NaN             Claytoncity    1  0.01  0.40  0.06
10      6    NaN      NaN            DalyCitycity    1  0.13  0.71  0.15
11     36    NaN      NaN  RockvilleCentrevillage    1  0.02  0.46  0.08
12     25   21.0  44105.0             Needhamtown    1  0.03  0.47  0.01
13     55   87.0  30075.0          GrandChutetown    1  0.01  0.44  0.00
14      6    NaN      NaN           DanaPointcity    1  0.04  0.36  0.01
15     19  187.0  91370.0           FortDodgecity    1  0.03  0.34  0.06
16     36    1.0   1000.0              Albanycity    1  0.15  0.31  0.40
17     34   27.0  17650.0        Denvilletownship    1  0.01  0.53  0.01
18     18    NaN      NaN          Valparaisocity    1  0.02  0.47  0.01
19     42  129.0  66376.0       Rostravertownship    1  0.00  0.41  0.05
20      6    NaN      NaN             Modestocity    1  0.25  0.54  0.05
21     12   31.0      NaN        Jacksonvillecity    1  1.00  0.42  0.47
22     41    NaN      NaN        KlamathFallscity    1  0.01  0.34  0.02
23     19  193.0  93926.0           SiouxCitycity    1  0.11  0.43  0.04
24      6    NaN      NaN              Delanocity    1  0.02  0.96  0.05
25      8    NaN      NaN              Goldencity    1  0.00  0.33  0.02
26      6    NaN      NaN             Gardenacity    1  0.06  0.49  0.46
27     39   29.0  61798.0           Perrytownship    1  0.01  0.37  0.01
28     54    NaN      NaN             Beckleycity    1  0.01  0.27  0.43
29      9    7.0  22490.0         EastHamptontown    1  0.00  0.50  0.01
...   ...    ...      ...                     ...  ...   ...   ...   ...
1964   36  119.0  49121.0         MountVernoncity   10  0.09  0.45  1.00
1965   18   97.0      NaN        Indianapoliscity   10  1.00  0.36  0.44
1966    6    NaN      NaN         RedwoodCitycity   10  0.09  0.41  0.07
1967   25   17.0  76135.0            Westfordtown   10  0.01  0.66  0.00
1968   34   25.0  62430.0          RedBankborough   10  0.00  0.24  0.51
1969    6    NaN      NaN        SanFranciscocity   10  1.00  0.29  0.21
1970   45    NaN      NaN               Caycecity   10  0.00  0.37  0.38
1971    1    NaN      NaN             Decaturcity   10  0.06  0.39  0.32
1972    6    NaN      NaN            Redlandscity   10  0.08  0.49  0.07
1973   39    NaN      NaN           Englewoodcity   10  0.00  0.38  0.03
1974   37    NaN      NaN             Tarborotown   10  0.00  0.41  0.62
1975   53    NaN      NaN            Kirklandcity   10  0.05  0.27  0.03
1976   25   17.0   1605.0           Arlingtontown   10  0.06  0.29  0.03
1977   47    NaN      NaN           Maryvillecity   10  0.01  0.35  0.06
1978    9    1.0   4720.0              Betheltown   10  0.01  0.54  0.02
1979   34   39.0  61530.0              Rahwaycity   10  0.02  0.43  0.39
1980   25    5.0  69170.0             Tauntoncity   10  0.06  0.43  0.04
1981    9    9.0  35650.0              Hamdentown   10  0.07  0.38  0.17
1982   42  133.0  73168.0    SpringGardentownship   10  0.00  0.47  0.02
1983   13    NaN      NaN          ForestParkcity   10  0.01  0.45  0.37
1984   39   95.0  48342.0              Maumeecity   10  0.01  0.43  0.01
1985    1    NaN      NaN       AlexanderCitycity   10  0.01  0.41  0.55
1986    9    3.0  70550.0         Southingtontown   10  0.05  0.52  0.02
1987   44    7.0  11800.0        Burrillvilletown   10  0.01  0.65  0.00
1988   28    NaN      NaN            Columbuscity   10  0.02  0.41  1.00
1989   12    NaN      NaN       TempleTerracecity   10  0.01  0.40  0.10
1990    6    NaN      NaN             Seasidecity   10  0.05  0.96  0.46
1991    9    9.0  80070.0           Waterburytown   10  0.16  0.37  0.25
1992   25   17.0  72600.0             Walthamcity   10  0.08  0.51  0.06
1993    6    NaN      NaN             Ontariocity   10  0.20  0.78  0.14

       8     9    ...    118   119   120   121   122   123  124   125   126  \
0     0.90  0.12  ...   0.12  0.26  0.20  0.06  0.04  0.90  0.5  0.32  0.14
1     0.74  0.45  ...   0.02  0.12  0.45   NaN   NaN   NaN  NaN  0.00   NaN
2     0.56  0.17  ...   0.01  0.21  0.02   NaN   NaN   NaN  NaN  0.00   NaN
3     0.08  0.12  ...   0.02  0.39  0.28   NaN   NaN   NaN  NaN  0.00   NaN
4     0.95  0.09  ...   0.04  0.09  0.02   NaN   NaN   NaN  NaN  0.00   NaN
5     0.54  1.00  ...   0.01  0.58  0.10   NaN   NaN   NaN  NaN  0.00   NaN
6     0.98  0.06  ...   0.05  0.08  0.06   NaN   NaN   NaN  NaN  0.00   NaN
7     0.46  0.20  ...   0.01  0.33  0.00   NaN   NaN   NaN  NaN  0.00   NaN
8     0.84  0.02  ...   0.04  0.17  0.04   NaN   NaN   NaN  NaN  0.00   NaN
9     0.87  0.30  ...   0.00  0.47  0.11   NaN   NaN   NaN  NaN  0.00   NaN
10    0.07  1.00  ...   0.02  1.00  1.00   NaN   NaN   NaN  NaN  0.00   NaN
11    0.91  0.07  ...   0.01  0.63  1.00   NaN   NaN   NaN  NaN  0.00   NaN
12    0.96  0.13  ...   0.03  0.18  0.59   NaN   NaN   NaN  NaN  0.00   NaN
13    0.98  0.04  ...   0.08  0.04  0.00   NaN   NaN   NaN  NaN  0.00   NaN
14    0.85  0.14  ...   0.02  0.40  0.15   NaN   NaN   NaN  NaN  0.00   NaN
15    0.93  0.03  ...   0.04  0.15  0.04   NaN   NaN   NaN  NaN  0.00   NaN
16    0.63  0.14  ...   0.06  0.39  0.84  0.06  0.06  0.91  0.5  0.88  0.26
17    0.94  0.20  ...   0.03  0.09  0.21   NaN   NaN   NaN  NaN  0.00   NaN
18    0.97  0.07  ...   0.03  0.20  0.07   NaN   NaN   NaN  NaN  0.00   NaN
19    0.96  0.01  ...   0.09  0.03  0.05   NaN   NaN   NaN  NaN  0.00   NaN
20    0.71  0.48  ...   0.09  0.46  0.05  0.09  0.05  0.88  0.5  0.76  0.13
21    0.59  0.12  ...   1.00  0.07  0.15  1.00  0.35  0.73  0.0  0.31  0.21
22    0.87  0.07  ...   0.05  0.09  0.06   NaN   NaN   NaN  NaN  0.00   NaN
23    0.89  0.09  ...   0.16  0.12  0.07  0.04  0.01  0.81  1.0  0.56  0.09
24    0.00  1.00  ...   0.02  0.22  0.02   NaN   NaN   NaN  NaN  0.00   NaN
25    0.91  0.16  ...   0.02  0.15  0.16   NaN   NaN   NaN  NaN  0.00   NaN
26    0.00  1.00  ...   0.01  0.79  0.21   NaN   NaN   NaN  NaN  0.00   NaN
27    0.99  0.02  ...   0.04  0.09  0.00   NaN   NaN   NaN  NaN  0.00   NaN
28    0.64  0.08  ...   0.02  0.17  0.00   NaN   NaN   NaN  NaN  0.00   NaN
29    0.98  0.02  ...   0.10  0.02  0.08   NaN   NaN   NaN  NaN  0.00   NaN
...    ...   ...  ...    ...   ...   ...   ...   ...   ...  ...   ...   ...
1964  0.08  0.11  ...   0.01  1.00  1.00   NaN   NaN   NaN  NaN  0.00   NaN
1965  0.64  0.06  ...   1.00  0.17  0.18  0.45  0.19  0.50  0.5  0.44  0.21
1966  0.74  0.39  ...   0.05  0.29  0.22   NaN   NaN   NaN  NaN  0.00   NaN
1967  0.97  0.10  ...   0.09  0.04  0.04   NaN   NaN   NaN  NaN  0.00   NaN
1968  0.53  0.11  ...   0.00  0.50  0.49   NaN   NaN   NaN  NaN  0.00   NaN
1969  0.29  1.00  ...   0.13  1.00  1.00  0.53  0.62  0.64  0.5  0.64  0.35
1970  0.69  0.04  ...   0.02  0.10  0.08   NaN   NaN   NaN  NaN  0.00   NaN
1971  0.73  0.04  ...   0.14  0.09  0.01   NaN   NaN   NaN  NaN  0.00   NaN
1972  0.69  0.27  ...   0.07  0.21  0.02   NaN   NaN   NaN  NaN  0.00   NaN
1973  0.97  0.04  ...   0.01  0.18  0.10   NaN   NaN   NaN  NaN  0.00   NaN
1974  0.51  0.02  ...   0.02  0.10  0.00   NaN   NaN   NaN  NaN  0.00   NaN
1975  0.89  0.27  ...   0.03  0.31  0.34   NaN   NaN   NaN  NaN  0.00   NaN
1976  0.93  0.18  ...   0.01  0.72  0.94   NaN   NaN   NaN  NaN  0.00   NaN
1977  0.94  0.06  ...   0.04  0.12  0.01   NaN   NaN   NaN  NaN  0.00   NaN
1978  0.94  0.13  ...   0.05  0.09  0.14   NaN   NaN   NaN  NaN  0.00   NaN
1979  0.63  0.15  ...   0.01  0.53  0.43   NaN   NaN   NaN  NaN  0.00   NaN
1980  0.93  0.03  ...   0.13  0.09  0.11   NaN   NaN   NaN  NaN  0.00   NaN
1981  0.84  0.11  ...   0.09  0.13  0.17  0.02  0.01  0.72  0.0  0.62  0.15
1982  0.98  0.03  ...   0.02  0.14  0.04   NaN   NaN   NaN  NaN  0.00   NaN
1983  0.65  0.15  ...   0.02  0.16  0.13   NaN   NaN   NaN  NaN  0.00   NaN
1984  0.98  0.03  ...   0.02  0.15  0.06   NaN   NaN   NaN  NaN  0.00   NaN
1985  0.57  0.01  ...   0.11  0.03  0.01   NaN   NaN   NaN  NaN  0.00   NaN
1986  0.97  0.04  ...   0.10  0.09  0.03   NaN   NaN   NaN  NaN  0.00   NaN
1987  1.00  0.01  ...   0.16  0.02  0.02   NaN   NaN   NaN  NaN  0.00   NaN
1988  0.21  0.02  ...   0.03  0.17  0.02   NaN   NaN   NaN  NaN  0.00   NaN
1989  0.87  0.12  ...   0.01  0.28  0.05   NaN   NaN   NaN  NaN  0.00   NaN
1990  0.28  0.83  ...   0.02  0.37  0.20   NaN   NaN   NaN  NaN  0.00   NaN
1991  0.69  0.04  ...   0.08  0.32  0.18  0.08  0.06  0.78  0.0  0.91  0.28
1992  0.87  0.22  ...   0.03  0.38  0.33  0.02  0.02  0.79  0.0  0.22  0.18
1993  0.46  0.24  ...   0.11  0.30  0.05  0.08  0.04  0.73  0.5  1.00  0.13

       127
0     0.20
1     0.67
2     0.43
3     0.12
4     0.03
5     0.14
6     0.03
7     0.55
8     0.53
9     0.15
10    0.24
11    0.08
12    0.06
13    0.09
14    0.21
15    0.30
16    0.49
17    0.07
18    0.15
19    0.03
20    0.34
21    0.69
22    0.21
23    0.63
24    0.31
25    0.12
26    0.84
27    0.10
28    0.49
29    0.02
...    ...
1964  0.60
1965  0.69
1966  0.30
1967  0.04
1968  0.19
1969  0.75
1970  0.53
1971  0.22
1972  0.30
1973  0.04
1974  0.52
1975  0.09
1976  0.08
1977  0.25
1978  0.04
1979  0.16
1980  0.28
1981  0.07
1982  0.03
1983  0.56
1984  0.14
1985  0.14
1986  0.02
1987  0.04
1988  0.19
1989  0.09
1990  0.45
1991  0.23
1992  0.19
1993  0.48

[1994 rows x 128 columns]>

In [8]:
crime = crime.iloc[:, 5:]
crime.dropna(inplace=True)
crime.head()

,5,6,7,8,9,10,11,12,13,14,...,118,119,120,121,122,123,124,125,126,127
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.12,0.26,0.20,0.06,0.04,0.90,0.5,0.32,0.14,0.20
16,0.15,0.31,0.40,0.63,0.14,0.06,0.58,0.72,0.65,0.47,...,0.06,0.39,0.84,0.06,0.06,0.91,0.5,0.88,0.26,0.49
20,0.25,0.54,0.05,0.71,0.48,0.30,0.42,0.48,0.28,0.32,...,0.09,0.46,0.05,0.09,0.05,0.88,0.5,0.76,0.13,0.34
21,1.00,0.42,0.47,0.59,0.12,0.05,0.41,0.53,0.34,0.33,...,1.00,0.07,0.15,1.00,0.35,0.73,0.0,0.31,0.21,0.69
23,0.11,0.43,0.04,0.89,0.09,0.06,0.45,0.48,0.31,0.46,...,0.16,0.12,0.07,0.04,0.01,0.81,1.0,0.56,0.09,0.63

In [9]:
# optional: read column names:
crimenames = pd.read_csv('communities.data.names', header=None)
crimenames = crimenames.iloc[5:, :]
crimenames.head()

               0
5     population
6  householdsize
7   racepctblack
8   racePctWhite
9   racePctAsian

In [10]:
# define X and y
X = crime.iloc[:, :-1]
y = crime.iloc[:, -1]

# split into train/test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# How many columns are in X?
X.shape

(319, 122)

In [13]:
X.head()

,5,6,7,8,9,10,11,12,13,14,...,117,118,119,120,121,122,123,124,125,126
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.29,0.12,0.26,0.20,0.06,0.04,0.90,0.5,0.32,0.14
16,0.15,0.31,0.40,0.63,0.14,0.06,0.58,0.72,0.65,0.47,...,0.22,0.06,0.39,0.84,0.06,0.06,0.91,0.5,0.88,0.26
20,0.25,0.54,0.05,0.71,0.48,0.30,0.42,0.48,0.28,0.32,...,0.36,0.09,0.46,0.05,0.09,0.05,0.88,0.5,0.76,0.13
21,1.00,0.42,0.47,0.59,0.12,0.05,0.41,0.53,0.34,0.33,...,1.00,1.00,0.07,0.15,1.00,0.35,0.73,0.0,0.31,0.21
23,0.11,0.43,0.04,0.89,0.09,0.06,0.45,0.48,0.31,0.46,...,0.29,0.16,0.12,0.07,0.04,0.01,0.81,1.0,0.56,0.09

### Linear Regression Model Without Regularisation

In [14]:
# linear regression
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)
lm.intercept_
lm.coef_
# What are these numbers?

array([-3.66188167e+00,  6.98124465e-01, -2.61955467e-01, -2.85270027e-01,
       -1.64740837e-01,  2.46972333e-01, -1.09290051e+00, -5.96857796e-01,
        1.11200239e+00, -7.21968931e-01,  4.27346598e+00, -2.28040268e-01,
        8.04875769e-01, -2.57934732e-01, -2.63458023e-01, -1.04616958e+00,
        6.07784197e-01,  7.73552561e-01,  5.96468029e-02,  6.90215922e-01,
        2.16759430e-02, -4.87802949e-01, -5.18858404e-01,  1.39478815e-01,
       -1.24417942e-01,  3.15003821e-01, -1.52633736e-01, -9.65003927e-01,
        1.17142163e+00, -3.08546690e-02, -9.29085548e-01,  1.24654586e-01,
        1.98104506e-01,  7.30804821e-01, -1.77337294e-01,  8.32927588e-02,
        3.46045601e-01,  5.01837338e-01,  1.57062958e+00, -4.13478807e-01,
        1.39350802e+00, -3.49428114e+00,  7.09577818e-01, -8.32141352e-01,
       -1.39984927e+00,  1.02482840e+00,  2.13855006e-01, -6.18937325e-01,
        5.28954490e-01,  7.98294890e-02,  5.93688560e-02, -1.68582667e-01,
        7.31264051e-01, -1.39635208e+00,  2.38507704e-01,  5.50621439e-01,
       -5.61447867e-01,  6.18989764e-01,  2.55517024e+00, -3.71769599e+00,
        7.09191935e-01,  3.82041439e-01,  8.23752836e-01, -1.67703547e+00,
       -1.73150450e+00,  9.90120171e-01, -5.72745697e-01, -1.45877295e+00,
        8.68032144e-01,  5.15959984e-01,  3.14453207e-02,  2.01869791e-01,
        9.65291940e-02,  2.13034099e+00, -6.95374423e-02,  4.62477023e-02,
       -1.10565955e-02, -1.34313780e-02, -1.04515494e-01, -8.76985171e-01,
        4.26781907e-01, -1.85405795e-01, -8.16215517e-01, -2.86596076e-01,
       -1.56110708e-01,  1.76468580e+00, -5.70163730e-01, -7.54066704e-02,
       -1.74212697e-01, -8.89747220e-02,  2.26336403e-01,  1.38030073e+00,
       -3.37304744e-01, -2.57856611e-02,  8.91299188e-02,  3.49876793e-01,
       -1.22428557e+00, -3.67941205e+01, -6.95699750e-01,  2.95269279e-01,
       -1.48590316e-03,  2.34206416e-01, -7.09533984e-03,  3.67152957e+01,
       -8.90665109e-02,  3.79550678e-02,  3.19375782e-01,  4.60708905e-01,
        1.41090069e-01, -6.67017320e-01, -2.59035245e-01, -4.60600755e-04,
       -1.51868232e-02,  7.54768410e-02, -2.36105498e-03, -1.50328233e-01,
        1.85575558e-01,  6.31979224e-01, -1.50253625e-01,  1.87638817e-02,
       -3.38095851e-02, -4.46104032e-01])

In [15]:
st.describe(lm.coef_)

DescribeResult(nobs=122, minmax=(-36.794120528700006, 36.715295684780365), mean=-0.008324631712139551, variance=23.294819823700394, skewness=-0.021465688332930867, kurtosis=53.06238369462364)

In [16]:
# make predictions and evaluate
import numpy as np
from sklearn import metrics
preds = lm.predict(X_test)
print('RMSE (no regularisation) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))

RMSE (no regularisation) = 0.2338136764948684

### Ridge Regression Model

In [18]:
# ridge regression (alpha must be positive, larger means more regularisation)
from sklearn.linear_model import Ridge
rreg = Ridge(alpha=0.1, normalize=True)
rreg.fit(X_train, y_train)
rreg.coef_
preds = rreg.predict(X_test)
print('RMSE (Ridge reg.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))
# Is this model better? Why?

RMSE (Ridge reg.) = 0.16427906804924083

#### Ridge Regression with Cross-Validation

In [19]:
# use RidgeCV to select best alpha:
from sklearn.linear_model import RidgeCV
alpha_range = 10.**np.arange(0, 3)
rregcv = RidgeCV(normalize=True, scoring='neg_mean_squared_error', alphas=alpha_range)
rregcv.fit(X_train, y_train)

# Print the optimal value of Alpha for Ridge Regression
print('Optimal Alpha Value: ', rregcv.alpha_)

# Print the RMSE for the ridge regression model
preds = rregcv.predict(X_test)
print ('RMSE (Ridge CV reg.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))
# What is the range of alpha values we are searching over?

Optimal Alpha Value:  1.0
RMSE (Ridge CV reg.) = 0.16312978234269107

### LASSO Regression Model

In [22]:
# lasso (alpha must be positive, larger means more regularisation)
from sklearn.linear_model import Lasso
las = Lasso(alpha=0.01, normalize=True)
las.fit(X_train, y_train)
las.coef_
preds = las.predict(X_test)
print('RMSE (Lasso reg.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))

RMSE (Lasso reg.) = 0.19816522542866313

In [23]:
# try a smaller alpha
las = Lasso(alpha=0.001, normalize=True)
las.fit(X_train, y_train)
las.coef_
preds = las.predict(X_test)
print('RMSE (Lasso reg.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))

RMSE (Lasso reg.) = 0.16003902404387874

In [24]:
alpha_range

array([  1.,  10., 100.])

In [25]:
# use LassoCV to select best alpha (tries 100 alphas by default)
from sklearn.linear_model import LassoCV
alpha_range = 10.**np.arange(-5, 5)
print(alpha_range)
lascv = LassoCV(normalize=True, alphas=alpha_range, max_iter=10000)
lascv.fit(X_train, y_train)
print('Optimal Alpha Value: ',lascv.alpha_)
lascv.coef_
preds = lascv.predict(X_test)
print('RMSE (Lasso CV reg.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))

[1.e-05 1.e-04 1.e-03 1.e-02 1.e-01 1.e+00 1.e+01 1.e+02 1.e+03 1.e+04]

/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

Optimal Alpha Value:  0.001
RMSE (Lasso CV reg.) = 0.16003902404387874

In [26]:
? LassoCV

### Task 1: Elastic Net Regularised Regression

#### Look up [Elastic Net](http://scikit-learn.org/stable/modules/linear_model.html#elastic-net) and complete the following.


(1) What is elastic net?


(2) How does it work?


(3) Run elastic net on the above dataset.

In [31]:
from sklearn.linear_model import ElasticNet
?ElasticNet

In [36]:
# Set up and run the elastic net model
regr = ElasticNet(normalize=True, random_state=1)
regr.fit(X_train, y_train)
print('Elastic net coeff: ',regr.coef_)
preds = lascv.predict(X_test)
print('RMSE (Elastic net.) =', np.sqrt(metrics.mean_squared_error(y_test, preds)))

Elastic net coeff:  [ 0.  0.  0. -0. -0.  0.  0.  0.  0. -0.  0.  0. -0. -0. -0. -0.  0.  0.
 -0. -0. -0. -0. -0. -0. -0. -0. -0.  0.  0.  0.  0. -0.  0. -0. -0.  0.
  0. -0.  0.  0.  0.  0.  0. -0. -0. -0. -0. -0. -0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0. -0.  0.  0.  0.  0.  0.  0. -0.  0.  0. -0.  0.
 -0. -0.  0.  0. -0.  0.  0. -0. -0. -0. -0. -0. -0. -0.  0. -0.  0.  0.
  0.  0.  0. -0.  0.  0.  0.  0. -0.  0.  0.  0.  0.  0. -0. -0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -0.  0.  0.  0.]
RMSE (Elastic net.) = 0.16003902404387874

### Task 2: Carry out Regularised Regression

(1) Run all three forms of regularised regression on the Boston Housing dataset.

(2) What do the coefficients mean?

(3) What would you advise someone living in Boston to try and raise the value of their home?

In [ ]:
# load libraries and data:
from sklearn.linear_model import LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_boston

# Nb. the sklearn.datasets.load_*() functions return a 'bunch' object:
# (ref = http://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_mldata.html)

crime = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data', 
                    header=None, na_values=['?'])
boston = load_boston()

# standardise variables:
scaler = StandardScaler()
X = scaler.fit_transform(boston["data"])

Y = boston["target"]
names = boston["feature_names"]

# Build Lasso models over a range of alpha:

In [ ]:
# Build cross-validated Ridge regression model

In [ ]:
# Build cross-validated Elastic Net Model

In [ ]:
# Print dataset description

### *Interpret Results*

In [23]:
l = ['/']

SyntaxError: EOL while scanning string literal (<ipython-input-23-ff2df81d750b>, line 2)