In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# allow plots to appear in the notebook
%matplotlib inline

In [36]:
#Import the data
weather_data = pd.read_csv("~/workspace/dat11syd/students/surenchand/lesson-07/hwk/seattleWeather_1948-2017.csv")

In [37]:
weather_data.head(40)

          DATE  PRCP  TMAX  TMIN   RAIN
0   1948-01-01  0.47    51    42   True
1   1948-01-02  0.59    45    36   True
2   1948-01-03  0.42    45    35   True
3   1948-01-04  0.31    45    34   True
4   1948-01-05  0.17    45    32   True
5   1948-01-06  0.44    48    39   True
6   1948-01-07  0.41    50    40   True
7   1948-01-08  0.04    48    35   True
8   1948-01-09  0.12    50    31   True
9   1948-01-10  0.74    43    34   True
10  1948-01-11  0.01    42    32   True
11  1948-01-12  0.00    41    26  False
12  1948-01-13  0.00    45    29  False
13  1948-01-14  0.00    38    26  False
14  1948-01-15  0.00    34    31  False
15  1948-01-16  0.00    34    28  False
16  1948-01-17  0.00    35    29  False
17  1948-01-18  0.00    33    28  False
18  1948-01-19  0.00    34    27  False
19  1948-01-20  0.00    36    29  False
20  1948-01-21  0.00    48    32  False
21  1948-01-22  0.21    47    44   True
22  1948-01-23  0.00    47    43  False
23  1948-01-24  0.10    45    34   True
24  1948-01-25  0.00    46    30  False
25  1948-01-26  0.00    45    32  False
26  1948-01-27  0.00    53    33  False
27  1948-01-28  0.00    53    25  False
28  1948-01-29  0.22    42    34   True
29  1948-01-30  0.03    47    30   True
30  1948-01-31  0.21    35    27   True
31  1948-02-01  0.03    39    30   True
32  1948-02-02  0.00    43    26  False
33  1948-02-03  0.20    38    26   True
34  1948-02-04  0.14    39    31   True
35  1948-02-05  0.00    36    26  False
36  1948-02-06  0.00    43    20  False
37  1948-02-07  0.06    43    27   True
38  1948-02-08  0.56    44    35   True
39  1948-02-09  0.00    45    32  False

In [38]:
weather_data.columns.values

array(['DATE', 'PRCP', 'TMAX', 'TMIN', 'RAIN'], dtype=object)

In [39]:
weather_data.describe

<bound method NDFrame.describe of              DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
5      1948-01-06  0.44    48    39   True
6      1948-01-07  0.41    50    40   True
7      1948-01-08  0.04    48    35   True
8      1948-01-09  0.12    50    31   True
9      1948-01-10  0.74    43    34   True
10     1948-01-11  0.01    42    32   True
11     1948-01-12  0.00    41    26  False
12     1948-01-13  0.00    45    29  False
13     1948-01-14  0.00    38    26  False
14     1948-01-15  0.00    34    31  False
15     1948-01-16  0.00    34    28  False
16     1948-01-17  0.00    35    29  False
17     1948-01-18  0.00    33    28  False
18     1948-01-19  0.00    34    27  False
19     1948-01-20  0.00    36    29  False
20     1948-01-21  0.00    48    32  False
21     1948-01-22  0.21    47    44   True
22     1948-01-23  0.00    47    43  False
23     1948-01-24  0.10    45    34   True
24     1948-01-25  0.00    46    30  False
25     1948-01-26  0.00    45    32  False
26     1948-01-27  0.00    53    33  False
27     1948-01-28  0.00    53    25  False
28     1948-01-29  0.22    42    34   True
29     1948-01-30  0.03    47    30   True
...           ...   ...   ...   ...    ...
25521  2017-11-15  0.46    53    43   True
25522  2017-11-16  0.16    44    42   True
25523  2017-11-17  0.00    50    42  False
25524  2017-11-18  0.00    52    41  False
25525  2017-11-19  0.58    53    39   True
25526  2017-11-20  0.63    50    41   True
25527  2017-11-21  1.14    60    38   True
25528  2017-11-22  0.52    68    56   True
25529  2017-11-23  0.20    59    48   True
25530  2017-11-24  0.01    52    46   True
25531  2017-11-25  0.19    51    43   True
25532  2017-11-26  0.25    58    42   True
25533  2017-11-27  0.00    50    42  False
25534  2017-11-28  0.68    47    43   True
25535  2017-11-29  0.00    50    41  False
25536  2017-11-30  0.27    46    41   True
25537  2017-12-01  0.27    48    38   True
25538  2017-12-02  0.79    44    41   True
25539  2017-12-03  0.05    46    39   True
25540  2017-12-04  0.00    45    34  False
25541  2017-12-05  0.00    45    33  False
25542  2017-12-06  0.00    52    36  False
25543  2017-12-07  0.00    52    34  False
25544  2017-12-08  0.00    43    29  False
25545  2017-12-09  0.00    44    29  False
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]>

In [40]:
weather_data.dtypes

DATE     object
PRCP    float64
TMAX      int64
TMIN      int64
RAIN     object
dtype: object

In [41]:
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

In [42]:
weather_data.dtypes

DATE    datetime64[ns]
PRCP           float64
TMAX             int64
TMIN             int64
RAIN            object
dtype: object

In [43]:
weather_data.isnull().sum()

DATE    0
PRCP    3
TMAX    0
TMIN    0
RAIN    3
dtype: int64

In [44]:
weather_data.shape

(25551, 5)

In [45]:
weather_data.dropna(how='any', inplace=True)

In [46]:
weather_data.shape

(25548, 5)

In [47]:
weather_data.isnull().sum()

DATE    0
PRCP    0
TMAX    0
TMIN    0
RAIN    0
dtype: int64

In [48]:
weather_data['year'] = pd.DatetimeIndex(weather_data['DATE']).year
weather_data['month'] = pd.DatetimeIndex(weather_data['DATE']).month

In [1]:
weather_data

NameError: name 'weather_data' is not defined

In [159]:
def season(df):
    if df.month.isin([1,2,12]):
            Season = 'Winter'
    elif df.month.isin([3,4,5]):    
        Season = 'Spring'
    elif df.month.isin([6,7,8]):    
        Season = 'Summer'
    elif df.month.isin([9,10,11]): 
        Season = 'Autumn'
    return Season

In [164]:
weather_data['Season'] = 'Undefined'

In [171]:
season(weather_data)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
weather_data.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [50]:
from sklearn.model_selection import train_test_split
weather_data_model=weather_data.loc[(weather_data.year < 2010) & (weather_data.year > 1949)]
feature_cols = ['PRCP','TMAX','TMIN']
X = weather_data_model[feature_cols]
y = weather_data_model.RAIN

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [54]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

ValueError: Unknown label type: 'unknown'