# ## General Assembly DAT11 Sydney - 26th Feb 2018 ##

## Reading data from some simple sources

This notebook contains exercises for getting started with visualising data analysis in Python. The 3 main topics we will cover in this class are:
1. Reading in data from different sources
2. Manipulating data in Python

### Reading in data from different sources
1. Reading in from a URL
2. Reading in from an excel spreadsheet
3. Reading in from a csv

In [1]:
# Load the Iris dataset from CSV URL
# 1. Import the required libraries
import numpy as np
import pandas as pd
import urllib
import xlrd

In [2]:
# 2. Specify the URL for the Iris dataset (UCI Machine Learning Repository)
url = "http://goo.gl/HppjFh"

# 3. Download the file
raw_data = urllib.request.urlopen(url)

# 4. Load the CSV file as a numpy matrix
#dataset = pd.read_csv(raw_data, delimiter=",")
dataset = pd.read_csv(raw_data, delimiter=",", names=('sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'))
#print(dataset.shape)
dataset.head()

# Refer to http://pandas.pydata.org/pandas-docs/version/0.15.0/io.html#io-read-csv-table

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Read data from an excel spreadsheet
# 1. Load the file into python
xl = pd.ExcelFile("../../../data/iris.xlsx")
# 2. Find what sheets are in the workbook
xl.sheet_names

['iris']

In [4]:
# 3. Read in the dataset from the 'Iris' sheet
df = xl.parse("iris")
df.head()
df.shape

(150, 5)

In [5]:
# Bonus: To write the file to excel format we can use the 'to_excel' method
df.to_excel('iris_saved_v2.xlsx', sheet_name='Sheet1')

In [8]:
# Read data from a csv
iris_data = pd.read_csv('../../../data/iris.csv')
iris_data.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [9]:
#  To write the file to csv format we can use the 'to_csv' method
df.to_csv('iris_saved2.csv')

### Manipulating Data in Python
In this section we will begin summarise the data and get an idea of the distribution of our data and what type of cleaning it requires. This is an essential step of a data science project

In [10]:
# Get a count of the number of rows in the DataFrame
len(iris_data.index)

150

In [11]:
# Get the dimensions of the DataFrame
iris_data.shape

(150, 6)

In [12]:
# Summarise the data
iris_data.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.054000      3.758667     1.198667
std     43.445368      0.828066     0.433594      1.764420     0.763161
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [13]:
# Select only the observations with petal_length < 1.7
iris_data[(iris_data['petal_length']<1.7)]

    Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0            0           5.1          3.5           1.4          0.2  setosa
1            1           4.9          3.0           1.4          0.2  setosa
2            2           4.7          3.2           1.3          0.2  setosa
3            3           4.6          3.1           1.5          0.2  setosa
4            4           5.0          3.6           1.4          0.2  setosa
6            6           4.6          3.4           1.4          0.3  setosa
7            7           5.0          3.4           1.5          0.2  setosa
8            8           4.4          2.9           1.4          0.2  setosa
9            9           4.9          3.1           1.5          0.1  setosa
10          10           5.4          3.7           1.5          0.2  setosa
11          11           4.8          3.4           1.6          0.2  setosa
12          12           4.8          3.0           1.4          0.1  setosa
13          13           4.3          3.0           1.1          0.1  setosa
14          14           5.8          4.0           1.2          0.2  setosa
15          15           5.7          4.4           1.5          0.4  setosa
16          16           5.4          3.9           1.3          0.4  setosa
17          17           5.1          3.5           1.4          0.3  setosa
19          19           5.1          3.8           1.5          0.3  setosa
21          21           5.1          3.7           1.5          0.4  setosa
22          22           4.6          3.6           1.0          0.2  setosa
25          25           5.0          3.0           1.6          0.2  setosa
26          26           5.0          3.4           1.6          0.4  setosa
27          27           5.2          3.5           1.5          0.2  setosa
28          28           5.2          3.4           1.4          0.2  setosa
29          29           4.7          3.2           1.6          0.2  setosa
30          30           4.8          3.1           1.6          0.2  setosa
31          31           5.4          3.4           1.5          0.4  setosa
32          32           5.2          4.1           1.5          0.1  setosa
33          33           5.5          4.2           1.4          0.2  setosa
34          34           4.9          3.1           1.5          0.1  setosa
35          35           5.0          3.2           1.2          0.2  setosa
36          36           5.5          3.5           1.3          0.2  setosa
37          37           4.9          3.1           1.5          0.1  setosa
38          38           4.4          3.0           1.3          0.2  setosa
39          39           5.1          3.4           1.5          0.2  setosa
40          40           5.0          3.5           1.3          0.3  setosa
41          41           4.5          2.3           1.3          0.3  setosa
42          42           4.4          3.2           1.3          0.2  setosa
43          43           5.0          3.5           1.6          0.6  setosa
45          45           4.8          3.0           1.4          0.3  setosa
46          46           5.1          3.8           1.6          0.2  setosa
47          47           4.6          3.2           1.4          0.2  setosa
48          48           5.3          3.7           1.5          0.2  setosa
49          49           5.0          3.3           1.4          0.2  setosa

In [14]:
# Now let's group the data by the species
byspecies = iris_data.groupby('species')
byspecies.describe()

           Unnamed: 0                                                        \
                count   mean       std    min     25%    50%     75%    max
species
setosa           50.0   24.5  14.57738    0.0   12.25   24.5   36.75   49.0
versicolor       50.0   74.5  14.57738   50.0   62.25   74.5   86.75   99.0
virginica        50.0  124.5  14.57738  100.0  112.25  124.5  136.75  149.0

           petal_length        ...  sepal_length      sepal_width         \
                  count   mean ...           75%  max       count   mean
species                        ...
setosa             50.0  1.464 ...           5.2  5.8        50.0  3.418
versicolor         50.0  4.260 ...           6.3  7.0        50.0  2.770
virginica          50.0  5.552 ...           6.9  7.9        50.0  2.974


                 std  min    25%  50%    75%  max
species
setosa      0.381024  2.3  3.125  3.4  3.675  4.4
versicolor  0.313798  2.0  2.525  2.8  3.000  3.4
virginica   0.322497  2.2  2.800  3.0  3.175  3.8

[3 rows x 40 columns]

In [15]:
# Apply a function by a group (Species)
# You can try mean, max, median, etc
byspecies['petal_length'].max()

species
setosa        1.9
versicolor    5.1
virginica     6.9
Name: petal_length, dtype: float64

In [16]:
# We can also aggregate by group (makes little sense in this context but this will come in handy)
byspecies['petal_length'].aggregate(np.sum)

species
setosa         73.2
versicolor    213.0
virginica     277.6
Name: petal_length, dtype: float64

In [17]:
# We can also aggregate by group (makes little sense in this context but this will come in handy)
byspecies['petal_length'].agg([len, np.mean, np.std])

             len   mean       std
species
setosa      50.0  1.464  0.173511
versicolor  50.0  4.260  0.469911
virginica   50.0  5.552  0.551895